body{
    background-color: hsl(0, 0%, 80%);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#tiles{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 0px;
    width: min-content;
}

#tiles:hover{
    cursor: pointer;
}

.vertical {
    border: 3.5px solid #404040;
    border-bottom: hsl(0, 0%, 80%);
    border-top: hsl(0, 0%, 80%);
}
 
.horizontal {
    border: 3.5px solid #404040;
    border-left: hsl(0, 0%, 80%);
    border-right: hsl(0, 0%, 80%);
}

.center{
    border: 3.5px solid #404040;
}

img{
    max-width: 100px;
    max-height: 100px;
}