html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url("background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}


#bird {
    position: absolute; /* Required to set coordinates */
    pointer-events: none; /* So it doesn't block mouse events */
    width: 103px;
    height: 74px;
}

.pipe{
    position: absolute;
    width: auto;
    height: 100vh;
    top: 0;
}