#counter{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: cursive;
}

#bttnContainer {
    text-align: center;
    font-family: cursive;
}

#targetInput {
    text-align: center;
}

.buttons {
    font-size: 1.5em;
    font-family: cursive;
    color: white;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.25s;
}

.buttons:hover{
    background-color: hsl(214, 100%, 56%);
}

#bestBoard{
    text-align: center;
    font-size: 1.5em;
    font-family: cursive;
}